>  연산

In [ ]:
7/4

In [1]:
#나머지를 구한다  %
7%4
#몫을 정수로 한다  //
7//4
#지수를 구한다 **
7**4

2401

In [2]:
#몫과 나머지를 한거번에 구하는 divmod()명령어도 있다.
divmod(7,4)

(1, 3)

>  변수

In [ ]:
#변수는 상자같은 것 입니다. 안에 원하는 것을 넣을 수 있습니다.
# a=3 에서 '='는 같다는 뜻이 아닙니다. 대입한다는 것입니다. 우변 값을 좌변데 대입합니다
#변수명으로 사용할 수 있는것은 1.대소영문자  2.숫자  3.언더스코어입니다.  단 숫자는 맨앞에는 올 수 없습니다. 대문자와 소문자는 다른 것으로 구별된다.

- 예약되어서 쓸 수 없는 변수명을 알아봅니다.
and,del,from,wile,as,elif,global,or,with,assert,else,if,pass,yield,break,except,import,print,class,exec,in,raise,continue,finally,is,return,def,for,lambda,try,True,Dalse,None...................

In [ ]:
# 대입의 간이기법
a=4
a+=1  
b=5
b-=1
a*=b
a/=10
a = a+1  #프로그램에서는 먼저 우변을 계산하고 '='로 좌변의 변수에 대입한다고 해석합니다.

> 함수

In [4]:
max(2,4)
min(2,4)
# a와 b중에 큰값을 반환한다.
max(1,2)
min(1,2)

1

> 데이터형

-  수치
- 문자열
- 부울값  - 조건이 성립했는지 여부를 나타내는 것이 부울값입니다.  True(성립), False(성립하지 않음)
    - 정수와 부동소수 계산 결과는 부동소수점입니다.

> 형변환

In [ ]:
#정수로 변환 은 int를 사용한다
a=2.6
int(a)
int('2')
float('2.6')
int(True)  # 부울값이 True를 정수로 변환하면 0 이 아닌 1로 표시된다
int(False) # 부울값이 False를 정수로 변환하면 o으로 표시된다.

# 부동소수로전환 하려면 float()함수를 사용해야 한다.
float(3.0)
float('2.58')
float(True)

#문자열로 변환 :수치나 부울값을 문자열로 변환하려면 str()함수를 사용한다.
str(7)
str(True) # -> 'True'

#부울값으로 변환 : 수치나 문자열을 부울값으로 변경하려면 bool()함수를 사용한다.
bool(3)
bool(0)
# 0이나 빈문자열은 False가 되지만 그 외의 값은 전부 True가된다.

In [6]:
str(7)
str(True)

'True'

>  리스트,튜플,사전

리스트와 튜플의 결정적으로 다른 것은 리스트는 도중에 값을 변경  mutable, 하지만 튜플은 immutable 하여 값을 변경할 수 없다.

In [ ]:
a=(1,2,3,4,5)
sum=0
for i in a:
    sum+=i
print(sum)

In [ ]:
animals=['ele','monkey','lion']
animals.append('tiger')
animals
animals.insert(1,'mouse')
animals

:

append 메서드를 사용하면 리스트 맨끝에 요소를 추가할 수 있습니다.   
insert메서드를 사용하면 지정한 위치에 요소를 추가 할 수 있습니다.   
del명령을 사용하면 리스트의 특정요소를 삭제할 수 있습니다.

pop메서드는 ()일경우에 맨뒤의 요소를 삭제한 리스트를 반환한다

In [1]:
animals=['ele','monkey','lion']

In [2]:
animals.pop()
animals

['ele', 'monkey']

In [4]:
del animals[1]
animals

['ele']

In [ ]:
del animals
animals

조작관련된 함수를 메서드라고 한다

게임에서는 위치정보를 자주 저장해야하는데 이때는 튜플형이 관리하기에 편리하다.

In [ ]:
pos = (56,74)
pos_x,pos_y=pos
pos_x

> 사전  dictionary

접근방법은 [키값]이다.  리스트나 튜플은 [번호]를 사용한다.  딕셔러리는 순서가 없으므로 키값으로 접근하다.  이 점을 이해해라

In [ ]:
animals=('ele', 'mouse', 'lion', 'tiger')
animals

In [ ]:
score=(20,30,40)
data=(animals,score)
data

In [ ]:
data[1][1]

> 리스트의 리스트의 리스트

In [7]:
animals=("h","a","b","c")
scores=[10,20,30]
data=[animals,scores]

data
data[0][0]

'h'

In [17]:
data=[[0,0,1],[1,2,2],[0,0,0],[1,1,1],[2,0,1]]  # 행이 5이고 열이 3열,  xpos=3이고 ypos=5

for y in range(5):
    print("")
    for x in range(3):
        print(data[y][x],end="")

001
122
000
111
201

> 리스트나 튜플을 다루는데 편리한 함수

In [18]:
# len 요소의 수를 반환한다.
len([1,2,3])

3

In [19]:
#copy
a=[1,2,3]
b=a
a
b
a[2]=9
b

[1, 2, 9]

In [20]:
a=[1,2,3]
b=a.copy()
a
b
a[2]=9
a
b
#copy함수로 새로운 변수가 별도로 값을 갖도록 한다.

[1, 2, 3]

In [25]:
#in 어떤 값이 리스트나 튜플에 포함되었는지 확인할 때
a=[1,2,3,'dog']
b=[1,3,4]
1 in a
4 in a
# 포함되어 있으면  True를 포함되어 있지 않으면 False를 반환한다

#포함여여부가 아닌 몇 번째에 저장되어 있는 지 확인하고 싶을 때는 index()메서드를 사용한다
try:
    print(a.index('dog'))
except:
    pass
# 그 번호가 반환값으로 반환된다.

3

> sort

파이썬에서는 리스크를 정열하기 위한 두 가지 방법이 준비돼 있습니다.  
sorted함수    
sort메서드입니다.
수치는 오름차순으로 문자는 알파벳순으로 정열됩니다.

In [26]:
# sorted함수는 복사본을 반환하고 본래 리스트의 정렬 순서는 바뀌지 않습니다
a=[1,5,2,6,4,3,2]
sorted(a)

[1, 2, 2, 3, 4, 5, 6]

In [27]:
a

[1, 5, 2, 6, 4, 3, 2]

In [28]:
a.sort()

In [29]:
a

[1, 2, 2, 3, 4, 5, 6]

In [ ]:
print(a)

In [ ]:
# 비교연산자
A==b
A!=b
A<b
A<=b
A>=b
a in b

In [ ]:
a=[]
if a:
    print('a')
else:
    print('False')

In [ ]:
a=1

if a > 0:
    x=10
else:
    x=20

x=10 if a>0 else 20

x

In [ ]:
for l in 'love':
    print(l)

In [ ]:
#range
tot=0
for i in range(10):
    tot +=i
    print(i, tot)

print(tot)

In [24]:
for val in range(5):
    print(val)
    if val%2 ==0:
        continue
    print('===')

0
1
===
2
3
===
4

In [35]:
# 삼항연산자
a=-5
x=10 if a>0 else 20
print(x)

20

In [37]:
if a > 0:
    x=10
else:
    x=20

print(a)

5

> 함수

In [1]:
def add(a,b,c):
    return a+b+c

add(2,3,4)

9

In [3]:
def say_hello():
    print("say_hello")

say_hello()

say_hello

In [1]:
# 인수의 기본값 지정
def say_hello(name='alex'):
    print("hi!  "+name)

say_hello()

hi!  alex

In [7]:
say_hello('david')

hi!  david

map은  리스트나 튜플의 요소 전체에 대하여 어떠한 처리를 할 때 사용합니다

In [10]:
def make_double(x):
    return x*2

make_double(3)

list(map(make_double,[2,3,4]))

# lambda식을 이용하여 간단하게 아래와 같이 함수없이 표현 할 수 있다.
list(map(lambda x:x*2,[1,2,3]))

[2, 4, 6]

In [2]:
list(map(lambda x: x*2,[1,2,3]))

[2, 4, 6]

filter  조건에 합치한 요소만을 추출할 때 이용합니다.

In [3]:
list(filter(lambda a:a%2 ==0,[0,1,2,3,4,5]))

[0, 2, 4]

In [11]:
list(filter(lambda a: a%2==0, [0,1,2,3,4,5]))

[0, 2, 4]

In [14]:
list(filter(lambda a: a%2==1 , [0,1,2,3,4,5,6,7,8,9,10,11,12,13]))

[1, 3, 5, 7, 9, 11, 13]

In [1]:
list(filter(lambda a:a%2==0,[1,2,3,4,5,6,7]))

[2, 4, 6]

sorted

In [3]:
#reverse=True를사용하면 역순으로 정열할 수 있다.


sorted([7,4,3,1,5])
sorted([7,4,3,1,5],reverse=True)

[7, 5, 4, 3, 1]

In [4]:
#lambda함수를 적용해본다
#알파벳순서
sorted(['banana','apple','rice'],reverse=True)

['rice', 'banana', 'apple']

In [5]:
sorted(['banana','apple','rice'],key=lambda x:len(x))
#알파벳숫자순서

['rice', 'apple', 'banana']

In [6]:
#튜플의 자리로 정열하는데도 사용한다.
sorted([(0,1),(5,3),(2,4)])

[(0, 1), (2, 4), (5, 3)]

In [13]:
sorted([(5,1),(2,4)],reverse=True)

[(5, 1), (2, 4)]

In [9]:
sorted([(0,1),(5,3),(2,4)],key=lambda x:x[1])

[(0, 1), (5, 3), (2, 4)]

리스트 내포 표기

In [14]:
[x**2 for x in [2,3,4]]

[4, 9, 16]

In [15]:
re=[]
for x in [2,3,4]:
    re.append(x**2)
print(re)

[4, 9, 16]

In [17]:
x**2 for x in [1,2,4]

SyntaxError: invalid syntax (3451743113.py, line 1)

In [1]:
#[식 for요소명 in 리스트]

[x*2 for x in [1,2,3,4]]

[2, 4, 6, 8]

In [2]:
[x*x for x in range(5)]

[0, 1, 4, 9, 16]

In [3]:
# 리스트의 리스트도 표기할 수 있다.

[[x,x+1,x+2] for x in [1,2,3]]

[[1, 2, 3], [2, 3, 4], [3, 4, 5]]

In [21]:
[[x,x+1,x+2] for x in [1,2,3]]

[[1, 2, 3], [2, 3, 4], [3, 4, 5]]

In [34]:
[[[y,y+1] for y in range(4)] for x in range(3)]

[[[0, 1], [1, 2], [2, 3], [3, 4]],
 [[0, 1], [1, 2], [2, 3], [3, 4]],
 [[0, 1], [1, 2], [2, 3], [3, 4]]]

In [7]:
# 안쪽의 리스트도 내포 표기해 본다

[[0 for x in range(3)] for x in range(5)]

[[0, 0, 0], [0, 0, 0], [0, 0, 0], [0, 0, 0], [0, 0, 0]]

In [11]:
[[x+y*3 for x in range(3)] for y in range(4)]

[[0, 1, 2], [3, 4, 5], [6, 7, 8], [9, 10, 11]]

In [37]:
[[x+y*3 for x in range(3)] for y in range(5)]

[[0, 1, 2], [3, 4, 5], [6, 7, 8], [9, 10, 11], [12, 13, 14]]

In [15]:
data=[[x+y*3 for x in range(3)] for y in range(4)]
[[x*2 for x in row] for row in data]

[[0, 2, 4], [6, 8, 10], [12, 14, 16], [18, 20, 22]]

조건식을 추가하여 filter와 같은 표현을 할 수 도 있다.

In [16]:
#if 조건을 충족한 요소에 대해서만 처음 식이 실행됩니다.

[x for x in [0,1,2,3,4,5] if x%2==0]

[0, 2, 4]

In [17]:
[x*3 for x in [0,1,2,3,4,5] if x%2==0]

[0, 6, 12]

In [ ]:
from random import randint
for i in range(5):
    print(randint(0,5))

3
3
0
5
5